@import '../media/media.css';
@import '../fonts/stylesheet.css';

  /* font-family: 'Raleway-Bold';
   font-family: 'Raleway-Light';
   font-family: 'Raleway-Regular';
   font-family: 'Raleway-Thin';
   font-family: 'Raleway-Black';
   font-family: 'Roboto-Bold'; */


   :root{
       --f400: 'Raleway-Regular';
       --f100: 'Raleway-Thin';
       --f300:'Raleway-Light';
       --f700:'Raleway-Bold';
       --f900: 'Raleway-Black';
       --fRob700:'Roboto-Bold';
       --green: #69cf17;
       --green_75:rgba(105,207,23,0.75);
       --green_90:rgba(105,207,23,0.9);
       --logo_dark:#4e9e0d;
       --logo_light:#62be19;
       --white:#fff;
       --light_grey:#dedede;
       --grey:#7a7a7a;
       --dark:#060002;


       --col-1: calc(100% / 12);
       --col-2: calc(100% / 12 * 2);
       --col-3: calc(100% / 12 * 3);
       --col-4: calc(100% / 12 * 4);
       --col-5: calc(100% / 12 * 5);
       --col-6: calc(100% / 12 * 6);
       --col-7: calc(100% / 12 * 7);
       --col-8: calc(100% / 12 * 8);
       --col-9: calc(100% / 12 * 9);
       --col-10: calc(100% / 12 * 10);
       --col-11: calc(100% / 12 * 11);
       --col-12: 100%;

   }

 *{
    padding: 0;
    margin: 0;
    font-family: var(--f400);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}
html,body{
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}
.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}
.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}
.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}
.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}
.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}
.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}
.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}
.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}
.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}
.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}
.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.mh-100{
    min-height: 100vh;
}
.m-auto{
    margin: 0 auto;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}

/* ============= header =========== */

.header{
    background: url('../img/bg_img.png')50% 50% /cover no-repeat;
}
.logo{
    font-size: 24px;
    color: #fff;
    font-family: var(--f700);
    text-transform: uppercase;
    background: var(--logo_dark);
    padding: 8px 18px;
    border: 3px solid var(--logo_light);
    border-radius: 5px;
}
.nav__list_link{
    font-size: 20px;
    color: var(--green);
    font-family: var(--f300);
    padding: 35px 26px 30px 26px;
    display: inline-block;
    transition: 1s;
}
.nav__list_link:hover{
    background: var(--green_75);
    color: var(--white);

}
.nav__list_link:hover .nav__list_span{
    background: var(--white);
    color: var(--green);
}
.nav__list_span{
    width: 24px;
    height: 24px;
   transition: 1s;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    line-height: 20px;
}
.header__content__title{
    font-family: var(--f900);
    font-size: 72px;
    color: var(--green);
    text-transform: uppercase;
    line-height: 55px;
    margin-bottom: 20px;
}
.header__content__underTitle{
    font-size: 36px;
    color: var(--green);
    line-height: 25px;
    
}
.header__content_description{
    font-size: 18px;
    color: var(--light_grey);
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 75px;
}
.header__content_price{
    font-size: 60px;
    font-family: var(--f100);
    color: var(--white);
    padding: 27px 90px;background: var(--green_75);
    line-height: 45px;
}
.order{
    margin-top: 150px;
}
.order__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.order__content-input{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    padding: 10px 10px;
}
.buttons{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.buttons__btn1{
    width: 140px;
    height: 60px;
    padding: 10px 10px;
    background: var(--green);
    font-size: 16px;
    font-family: var(--f700);
    border: none;
    border-style: none;
}
.buttons__btn2{
    width: 140px;
    height: 60px;
    padding: 10px 10px;
    background: var(--green);
    font-size: 16px;
    font-family: var(--f700);
    border: none;
    border-style: none;
}
.order__content-title{
    font-size: 22px;
    font-family: var(--f700);
    color: var(--green);
    text-align: center;
}
/* ============= /header =========== */

.message{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.message__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: #fff;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message__content-title{
    font-size: 20px;
    color: var(--green);
    font-family: var(--f700);
    text-align: center;
}
.message__content-text{
    font-size: 18px;
    color: black;
    font-family: var(--f400);
    text-align: center;
    margin-top: 10px;
    transform: translateY(-90px);
}
.message__content-link{
    font-size: 18px;
    color: #fff;
    background: var(--green);
    padding: 10px 10px;
    font-family: var(--f700);
    text-align: center;
    border-radius: 20px;
}



/* ========================== footer========== */
.footer{
    background: var(--dark);
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer__nav_tel{
    font-size: 24px;
    color: var(--logo_dark);
    font-family: var(--fRob700);
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer__list{
    display: flex;
    justify-content: center;
}
.footer__list_link{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    color: var(--white);
    font-family: var(--f100);
}
.footer__description{
    font-size: 16px;
    color: var(--white);
    font-family: var(--f100);
    text-align: center;
    margin-top: 40px;
}
/* ========== /footer =========== */