@import '../media/media.css';
@import '../fonts/stylesheet.css';

  /* font-family: 'Raleway-Bold';
   font-family: 'Raleway-Light';
   font-family: 'Raleway-Regular';
   font-family: 'Raleway-Thin';
   font-family: 'Raleway-Black';
   font-family: 'Roboto-Bold'; */


   :root{
       --f400: 'Raleway-Regular';
       --f100: 'Raleway-Thin';
       --f300:'Raleway-Light';
       --f700:'Raleway-Bold';
       --f900: 'Raleway-Black';
       --fRob700:'Roboto-Bold';
       --green: #69cf17;
       --green_75:rgba(105,207,23,0.75);
       --green_90:rgba(105,207,23,0.9);
       --logo_dark:#4e9e0d;
       --logo_light:#62be19;
       --white:#fff;
       --light_grey:#dedede;
       --grey:#7a7a7a;
       --dark:#060002;


       --col-1: calc(100% / 12);
       --col-2: calc(100% / 12 * 2);
       --col-3: calc(100% / 12 * 3);
       --col-4: calc(100% / 12 * 4);
       --col-5: calc(100% / 12 * 5);
       --col-6: calc(100% / 12 * 6);
       --col-7: calc(100% / 12 * 7);
       --col-8: calc(100% / 12 * 8);
       --col-9: calc(100% / 12 * 9);
       --col-10: calc(100% / 12 * 10);
       --col-11: calc(100% / 12 * 11);
       --col-12: 100%;

   }

 *{
    padding: 0;
    margin: 0;
    font-family: var(--f400);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}
.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}
.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}
.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}
.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}
.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}
.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}
.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}
.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}
.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}
.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}
.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.mh-100{
    min-height: 100vh;
}
.m-auto{
    margin: 0 auto;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}

/* ============= header =========== */

.header{
    background: url('../img/bg_img.png')50% 50% /cover no-repeat;
}
.logo{
    font-size: 24px;
    color: #fff;
    font-family: var(--f700);
    text-transform: uppercase;
    background: var(--logo_dark);
    padding: 8px 18px;
    border: 3px solid var(--logo_light);
    border-radius: 5px;
}
.nav__list_link{
    font-size: 20px;
    color: var(--green);
    font-family: var(--f300);
    padding: 35px 26px 30px 26px;
    display: inline-block;
    transition: 1s;
}
.nav__list_link:hover{
    background: var(--green_75);
    color: var(--white);

}
.nav__list_link:hover .nav__list_span{
    background: var(--white);
    color: var(--green);
}
.nav__list_span{
    width: 24px;
    height: 24px;
   transition: 1s;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    line-height: 20px;
}
.header__content__title{
    font-family: var(--f900);
    font-size: 72px;
    color: var(--green);
    text-transform: uppercase;
    line-height: 55px;
    margin-bottom: 20px;
}
.header__content__underTitle{
    font-size: 36px;
    color: var(--green);
    line-height: 25px;
    
}
.header__content_description{
    font-size: 18px;
    color: var(--light_grey);
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 75px;
}
.header__content_price{
    font-size: 60px;
    font-family: var(--f100);
    color: var(--white);
    padding: 27px 90px;background: var(--green_75);
    line-height: 45px;
}


/* ============= /header =========== */

/* ============ main ======= */
.main{
    background: var(--dark);
    padding-top: 50px;
   
}
.main__list_link{
    font-size: 40px;
    color: var(--grey);
    font-family: var(--f700);
}
.main__list_link:hover{
color: var(--green);
}

.main__list{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.menu__title{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--green);
    font-family: var(--f700);
    text-align: center;
}
.main-menu{
    padding-bottom: 100px;
}

.main-menu__title{
    font-size: 24px;
    color: var(--green);
    font-family: var(--f700);
     margin-top:10px ;
    margin-bottom: 15px;
}
.main-menu__description{
    font-size: 18px;
    color: var(--light_grey);
    line-height: 28px;
    max-width: 335px;
    text-align: justify;
   
}
.main-menu__content{
    position: relative;
    overflow: hidden;
}
.main-menu__ad{
    position: absolute;
  left: -100%;
  top: -100%;
  width: 100%;
  height: 100%;
  background: var(--green_90);
  font-family: var(--f700);
  font-size: 20px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 1s;
}
.main-menu__content:hover .main-menu__ad{
top: 0;
left: 0;
}
.main-menu__content:hover .main-menu__price{
   bottom: 100%;
}
.main-menu__price{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    color: var(--light_grey);
    padding: 20px 58px;
    background: var(--green_75);
transition: 1s;
}
.main-menu__content_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-menu__content{
    height: 350px;
}
.main-menu__order{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--green);
    padding: 10px 10px;
    align-items: center;
}
.main__order-btn{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
} 
.fas{
    font-size: 20px;
    color: #fff;
}
.main__order-num{
    font-size: 25px;
    color: #fff;
}
/* .main-menu__card:nth-of-type(1),
.main-menu__card:nth-of-type(2),
.main-menu__card:nth-of-type(3){
    margin-bottom: 50px;
} */

.main-menu__card:nth-child(1),
.main-menu__card:nth-child(2),
.main-menu__card:nth-child(3){
    margin-bottom: 50px;
}
/* .main-menu__card:nth-of-type(odd){
    background: white;
}
.main-menu__card:nth-of-type(even){
    background: green;
} */
.parent-order{
    display: none;
}
.main-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
.main-order__title{
    font-size: 25px;
    color: var(--white);
    font-family: var(--f700);
}
.main-order__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-order__text{
    font-size: 18px;
    font-family: var(--f700);
    color: var(--white);
    background: var(--green);
    padding: 10px 10px;
    margin-top: 10px;
}
.main__link{
    color: #fff;
    background: var(--green);
    font-size: 20px;
    font-family: var(--f700);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 30px;
}
.main-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    transform: translateY(-70px);
}

.receipt{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}
.receipt__window{
    background: #fff;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
}
.receipt__window-title{
    font-size: 25px;
    color: black;
    font-family: var(--f700);
    text-align: center;
}
.receipt__window-btn{
    font-size: 20px;
    font-family: var(--f700);
    color: #fff;
    padding: 10px 10px;
    border-radius: 20px;
    background: var(--green);
    width: 50%;
    border-style: none;
}
.receipt__window-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--f400);
    margin-top: 10px;
    text-align: center;
    width: 300px;
}
.receipt__window-text{
    font-size: 20px;
    color: #000;
    font-family: var(--f400);
}

 /* =========<section class="receipt">===== */

.receipted{
    background: url('../img/section_bg.png')50% 50% /cover no-repeat;
    padding-top: 50px;
    padding-bottom: 100px;
}
.receipt__title{
    font-family: var(--f700);
    font-size: 36px;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.receipt__title::after{
    content: '';
    width: 200px;
    height: 1px;
    background: var(--green);
    margin-top: 20px;
}
.receipt__description{
    font-size: 18px;
    color: var(--white);
    line-height: 25px;
}
.receipt__description:nth-of-type(1){
    margin-bottom: 25px;
}




 /* =========</section class="receipt">===== */

 /*= <section class="branches">= */
.branches__title{
    font-family: var(--f700);
    font-size: 36px;
    color: var(--green);
    padding: 50px 0;
    text-transform: uppercase;
    text-align: center;
    background: var(--white);
}
.branches{
    display: flex;
    flex-direction: column;
}
.map{
    width: 100%;
    height: 500px;
    border: none;
    flex-grow: 1;
}

.linked{
    color: #fff;
}


 /*= </section class="branches">= */

/* ============ /main ======= */

/* ========================== footer========== */
.footer{
    background: var(--dark);
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer__nav_tel{
    font-size: 24px;
    color: var(--logo_dark);
    font-family: var(--fRob700);
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer__list{
    display: flex;
    justify-content: center;
}
.footer__list_link{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    color: var(--white);
    font-family: var(--f100);
}
.footer__description{
    font-size: 16px;
    color: var(--white);
    font-family: var(--f100);
    text-align: center;
    margin-top: 40px;
}
/* .arrow{
    width: 100px;
    height: 100px;
    background: var(--white);
    position: fixed;

    z-index: 999;
    left: 90%;
    top: 80%;
    display: inline-block;
} */
/* ========================== /footer========== */